	<h1 th:text="#{orders.title.main}">
		Orders 
	</h1>
	<div ng-controller="ordersControl" class="center-div">
		<div class="panel panel-default">
	        <div class="panel-body">
	          <table class="table table-striped" id="orderTable">
	            <thead>
	              <tr>
	                <th class="col-md-1" th:text="#{orders.table.id}">ID</th>
	                <th class="col-md-2" th:text="#{orders.table.table}">Table</th>
	                <th class="col-md-3" th:text="#{orders.table.type}">Type</th>
	                <th class="col-md-3" th:text="#{orders.table.status}">Status</th>
	                <th class="col-md-4" th:text="#{orders.table.time}">Time</th>
	              </tr>
	            </thead>
	            <tbody>
	              <tr ng-repeat="order in orders">
				      <td>{{order.id}}</td>
				      <td>{{order.name }}</td>
				      <td>{{order.order_type}}</td>
				      <td>{{order.status}}</td>
				      <td>{{order.reg_date}}</td>
				      <td>
				      	<button type="button" class="btn btn-default" ng-click="getBill(order.id)" th:title="#{tables.bill.title}">
							<span class="glyphicon glyphicon-euro"></span>
						</button>
					</td>
				  </tr>
	            </tbody>
	          </table>
	        </div>
	    </div>
	</div>
