	<h1 th:text="#{users.title.main}">
		Users 
	</h1>
	<div ng-controller="userController" class="center-div">
		<button type="button" class="btn btn-default" ng-click="add()" th:title="#{users.button.title}">
			<span ng-class="icon"></span>
		</button>
		<div class="row" ng-show="viewForm">
			<form class="form-horizontal well" name="formUser">
				<fieldset>
				<legend th:text="#{users.form.legend}">Staff's management</legend>
				<div class="control-group">
					<input ng-model="newuser.id" type="hidden" value="" /> 
					<input class="form-control input-xlarge" ng-model="newuser.name" type="text"
						th:placeholder="#{users.form.user}" value="" ng-required="true"/> 
					<input class="form-control input-xlarge" ng-model="newuser.password" 
						type="password" th:placeholder="#{users.form.password}" value="" ng-required="true"/>
					<div class="form-actions">
						<button ng-click="addUser()" class="btn btn-primary" th:text="#{users.form.save}"
						ng-disabled="formUser.$invalid">Save</button>
						<button ng-click="reset()" th:text="#{users.form.clear}">Clear</button>
					</div>
				</div>
				</fieldset>
			</form>
		</div>
		<div class="form-signin">
			<span class="alert alert-success" role="alert" 
						ng-show="messageSuccess" th:text="#{users.operation.success}"/>
      	</div>
      	<div class="form-signin">
			<span class="alert alert-danger" role="alert" 
						ng-show="messageError" th:text="#{users.operation.error}"/>
      	</div>
		<div class="row">
			<div class="col-xs-4">
				<h4 th:text="#{users.num.page}">Users Page: {{ currentPage }}</h4>
			</div>
			<div class="col-xs-4">
				<label for="search" th:text="#{users.search}">Search:</label> 
				<input ng-model="q" id="search"
					class="form-control" th:placeholder="#{users.filter.text}" />
			</div>
			<div class="col-xs-4">
				<label for="search" th:text="#{users.items.page}">items per page:</label> 
				<input type="number"
					min="1" max="100" class="form-control" ng-model="pageSize" />
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-md-1" th:text="#{users.table.id}">ID</th>
							<th class="col-md-4" th:text="#{users.table.name}">Name</th>
							<th class="col-md-4" th:text="#{users.table.password}">Password</th>
							<th class="col-md-2" th:text="#{users.table.options}">Options</th>
						</tr>
					</thead>
					<tbody>
						<tr
							dir-paginate="user in users | filter:q | itemsPerPage: pageSize"
							current-page="currentPage">
							<td class="col-md-1">{{user.id}}</td>
							<td class="col-md-4">{{user.name}}</td>
							<td class="col-md-4">*******</td>
							<th class="col-md-2">
								<button type="button" class="btn btn-default"
									ng-click="loadUser(user.id)" th:title="#{users.update.title}">
									<span class="glyphicon glyphicon-floppy-saved"></span>
								</button>
								<button type="button" class="btn btn-default"
									ng-click="deleteUser(user.id)" th:title="#{users.delete.title}">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-controller="userPagController" class="other-controller">
		        <div class="text-center">
		        	<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" 
		        	template-url="../../bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
		        </div>
        	</div>
		</div>
	</div>