<!DOCTYPE html>
<html ng-app="homeApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="#{home.title}">Pick your order</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<link rel="stylesheet" media="all"  
	    	href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css"
	    	th:href="@{/static/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
    	<link rel="stylesheet" media="all"  
	    	href="../static/bower_components/css/main.css"
	    	th:href="@{/static/bower_components/css/main.css}" />
    </head>
    <body>
    	<div class="center-div" ng-controller="homeController">
    		 <div class="form-group">
	        	<button type="button" class="btn btn-default" onclick="window.location='/?language=es';">ES</button>
	        	<button type="button" class="btn btn-default" onclick="window.location='/?language=en';">EN</button>
		        <label th:text="#{home.language}">Language</label>
	       	 	<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
		    </div>
		    <div class="form-group">
		        <nav class="navbar navbar-default">
			        <div class="container">
			          <div class="navbar-collapse collapse">
			            <ul class="nav navbar-nav">
			              <li>
			              	  <button type="button" class="btn btn-default" ng-click="showConf()">
							  	<span ng-class="iconHomePlus"></span>
					    	  </button>
					      </li>
			              <li ng-class="tabs[0]"><a ng-click="clickTab(0)" th:text="#{home.tab.users}">Configure users</a></li>
			              <li ng-class="tabs[1]"><a ng-click="clickTab(1)" th:text="#{home.tab.products}">Configure products</a></li>
			              <li ng-class="tabs[2]"><a ng-click="clickTab(2)" th:text="#{home.tab.turns}">Configure turns</a></li>
			              <li ng-class="tabs[3]"><a ng-click="clickTab(3)" th:text="#{home.tab.tables}">Configure tables</a></li>
			              <li ng-class="tabs[4]"><a ng-click="clickTab(4)" th:text="#{home.tab.payment}">Configure payment data</a></li>
			            </ul>
			          </div><!--/.nav-collapse -->
			        </div>
			    </nav>
		    </div>
		    <div ng-include="view" ng-show="viewConf"></div>
		    <div ng-include="'/vieworder'"></div>
	    </div>
	    <script src="../static/bower_components/angular/angular.min.js"
			data-th-href="@{/static/bower_components/angular/angular.min.js}"></script>
		<script src="../static/bower_components/js/homeController.js"
			data-th-href="@{/static/bower_components/js/homeController.js}"></script>
		<script src="../static/bower_components/js/ordersController.js"
			data-th-href="@{/static/bower_components/js/ordersController.js}"></script>
		<script src="../static/bower_components/js/usersController.js"
			data-th-href="@{/static/bower_components/js/usersController.js}"></script>
		<script src="../static/bower_components/js/productsController.js"
			data-th-href="@{/static/bower_components/js/productsController.js}"></script>
		<script src="../static/bower_components/js/turnsController.js"
			data-th-href="@{/static/bower_components/js/turnsController.js}"></script>
		<script src="../static/bower_components/js/tablesController.js"
			data-th-href="@{/static/bower_components/js/tablesController.js}"></script>
		<script src="../static/bower_components/ng-file-upload/angular-file-upload-shim.min.js"
			data-th-href="@{/static/bower_components/ng-file-upload/angular-file-upload-shim.min.js}"></script>
		<script src="../static/bower_components/ng-file-upload/angular-file-upload.min.js"
			data-th-href="@{/static/bower_components/ng-file-upload/angular-file-upload.min.js}"></script>
		<script
			src="../static/bower_components/angular-utils-pagination/dirPagination.js"
			data-th-href="@{/static/bower_components/angular-utils-pagination/dirPagination.js}"></script>
    </body>
</html>