<!DOCTYPE html>
<html ng-app="homeApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Pick your order</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<link rel="stylesheet" media="all"  
	    	href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css"
	    	th:href="@{/static/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
    	<link rel="stylesheet" media="all"  
	    	href="../static/bower_components/css/main.css"
	    	th:href="@{/static/bower_components/css/main.css}" />
    </head>
    <body>
    	<div class="center-div">
	        <nav class="navbar navbar-default">
		        <div class="container">
		          <div class="navbar-collapse collapse">
		            <ul class="nav navbar-nav">
		              <li class="active"><a ng-click="template='page2'">Configure users</a></li>
		              <li><a href="#">Configure products</a></li>
		              <li><a href="#about">Configure turns</a></li>
		              <li><a href="#contact">Configure tables</a></li>
		            </ul>
		          </div><!--/.nav-collapse -->
		        </div>
		    </nav>
		    <div ng-include="'/viewusers'"></div>
	    </div>
	    <script src="../static/bower_components/angular/angular.min.js"
			data-th-href="@{/static/bower_components/angular/angular.min.js}"></script>
		<script src="../static/bower_components/js/homeController.js"
			data-th-href="@{/static/bower_components/js/homeController.js}"></script>
		<script
			src="../static/bower_components/angular-utils-pagination/dirPagination.js"
			data-th-href="@{/static/bower_components/angular-utils-pagination/dirPagination.js}"></script>
    </body>
</html>