<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" language="es">
    <head>
        <title>Pick your order</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<link rel="stylesheet" media="all"  
    	href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css"
    	th:href="@{/static/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
    	<link rel="stylesheet" media="all"  
    	href="../static/bower_components/css/main.css"
    	th:href="@{/static/bower_components/css/main.css}" />
    </head>
    <body>
 
		<div class="container">	
	      <form name="loginForm" class="form-signin" th:action="@{/login}" method="post">
	        <h2 class="form-signin-heading" th:text="#{login.sign.in}">Please sign in</h2>
	        <label for="inputEmail" class="sr-only" th:text="#{login.user.name}">Username</label>
	        <input type="text" name="username" class="form-control" th:placeholder="#{login.user.name}"></input>
	        <label for="inputPassword" class="sr-only" th:text="#{login.user.password}">Password</label>
	        <input type="password" name="password" class="form-control" th:placeholder="#{login.user.password}"></input>
	        <button class="btn btn-lg btn-primary btn-block" type="submit" 
	        	th:text="#{login.button.signin}">Sign in</button>
	      </form>
		  <div class="form-signin">
      	  	<span class="alert alert-danger" role="alert" th:if="${param.error}" th:text="#{login.error}">Invalid username and password</span>
      	  </div>
      	  <div class="form-signin">
      	  	<span class="alert alert-success" role="alert" th:if="${param.logout}" th:text="#{login.logout}">You have been logged out</span>
      	  </div>	
        </div>
    </body>
</html>